/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/project/.sbtserver
/project/.sbtserver*
/project/idea*
project/sbt-ui.sbt
projectFilesBackup/
/target/
/.idea
*~
